nav {
  background-color: #832161;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}
 nav a{
  color: #000;
  font-weight: 600;
 }
main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #4442a5;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #F0EFF4;
}

.New {
  /* border: 1px solid gold;
  margin: auto;
  width: 95%; */
}

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

.Show{
  margin: auto 50px;
  padding: 20px;
  background-color:#F0EFF4;

}
.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
}